@mixin main-label {
  font-weight: 600;
}

.label {
  @include main-label;
  color: #000003;
}

.description {
  font-size: 1rem;
  font-weight: 500;
}

.text {
  font-size: .8rem;
  font-weight: 400;
}

.linked-label {
  @include main-label;
  color: blue;
  &:hover {
    color: red;
    text-decoration: underline;
  }
}

.small {
  font-size: .9rem;
}

.medium {
  font-size: 1.2rem;
}

.big {
  font-size: 2rem;
}
